In [4]:
import pandas as pd

In [1]:
import numpy

In [2]:
import math

In [3]:
import stats from scipy

SyntaxError: invalid syntax (<ipython-input-3-8eecefd8e6be>, line 1)

In [4]:
from scipy import stats

In [5]:
from numpy import random

In [6]:
import numpy as np

In [8]:
# uniform random number in [0,1]
dataOne = random.rand(5,5)

In [9]:
dataOne

array([[0.64337493, 0.02884791, 0.59438929, 0.63412439, 0.70849699],
       [0.1834661 , 0.55596675, 0.92740098, 0.15344715, 0.45680923],
       [0.55976387, 0.38844061, 0.65297962, 0.4379199 , 0.18818298],
       [0.05469139, 0.58290636, 0.73294345, 0.46670723, 0.54674516],
       [0.17654829, 0.69210609, 0.2990836 , 0.10166481, 0.9391161 ]])

In [10]:
np.mean(dataONe)

NameError: name 'dataONe' is not defined

In [11]:
np.mean(dataOne)

0.468244927173231

In [12]:
print ('I Love Data Science')

I Love Data Science

In [13]:
variableName = 25

In [14]:
varialbeName1= 'I Love data Science'

In [15]:
print (variableName)

25

In [16]:
print (variableName1)

NameError: name 'variableName1' is not defined

In [17]:
print (varialbeName1)

I Love data Science

In [18]:
type (variableName)

int

In [19]:
variableName = 25.0

In [20]:
type (variableName)

float

In [21]:
varOne =25

In [22]:
varTwo = 25.0

In [23]:
varThree = varOne + varTwo

In [24]:
print (varThree)

50.0

In [25]:
varOne = 25

In [26]:
varTwo = "Hello"

In [27]:
varThree = vareOne + varTwo

NameError: name 'vareOne' is not defined

In [28]:
varTwo = 'Hello'

In [29]:
varThree = varOne + varTwo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
varOne = 25

In [34]:
varTwo = 'Hello'

In [35]:
varThree = varOne + varTwo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
print (varThree)

Hello

In [37]:
lake = {'court':10700, 'trees':7300, 'drive':1000,'dock':25000, 'steps':2500}

In [38]:
lake['court'] + lake['trees']

18000

In [39]:
lake['court'] + lake['trees'] + lake['drive'] + lake['dock'] + lake['steps']

46500

In [40]:
lake ['court'] - lake['steps']

8200

In [41]:
exp1=court

NameError: name 'court' is not defined

In [42]:
exp1= 10700

In [43]:
exp2='trees'

In [44]:
exp3= 'drive'

In [45]:
exp4= 'dock'

In [46]:
exp5= 'steps'

In [47]:
lakeexp = {exp1: 10700, exp2: 7300, exp3: 1000, exp4; 25000, exp5: 2500}

SyntaxError: invalid syntax (<ipython-input-47-b5562d1176f6>, line 1)

In [48]:
exp1 = 10700

In [49]:
exp2 = 7300

In [50]:
exp3 = 1000

In [51]:
exp4 = 25000

In [52]:
exp5 = 2500

In [53]:
lakeexp = {'court': exp1, 'trees': exp2, 'drive':exp3, 'dock':exp4, 'steps': exp5}

In [54]:
lakeexp['court'] + lakeexp['trees']

18000

In [55]:
floor(lakeexp)

NameError: name 'floor' is not defined

In [56]:
math.floor (lakeexp)

TypeError: must be real number, not dict

In [57]:
math.floor(lakeexp['court'])

10700

In [58]:
math.floor(lakeexp['court'], lakeexp['trees'], lakeexp['drive'])

TypeError: floor() takes exactly one argument (3 given)

In [59]:
math.infinite(lakeexp['trees'])

AttributeError: module 'math' has no attribute 'infinite'

In [60]:
math.isfinite(lakeexp['trees'])

True

In [61]:
math.sqrt(lakeexp['drive'])

31.622776601683793

In [16]:
samplecsv = pd.read_csv(r'C:\Users\Alberto\Desktop\Data Mining\course 5\default of credit card clients.csv', header =1)

In [17]:
samplecsv.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0